*{
    margin:0;
    padding: 0;
}
div#body00{

    margin:auto;
    width: 1250px;
    margin-top: 20px;
    height: 520px;

}
.sesion{
    margin:auto;
    width: 1260px;
    margin-top: 0px;
    height: 50px;
    background: rgb(190, 250, 250);

}

.ingreso{
    margin-left: 900px;
    width: 200px;
    border: 2px solid red;

}
.ingreso button[onclick="ingreso()"]{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: #3fee59;
    color: rgb(0, 77, 17);
    font-size: 18px;
    border-radius: 20px;
   }
.ingreso input[type="email"],
.ingreso input[type="password"]{
 border: green;
 border-bottom: 1px solid rgb(12, 95, 30);
 background: rgb(221, 243, 221);
 outline: green;
 height: 40px;
 color: rgb(18, 88, 30);
 font-size: 14px;
}
div#body{

    margin:auto;
    width: 1250px;
    height: 520px;
    border: 1px solid green;

}

div#body01{
    width: 200px;
    height: 520px;
    background-color: transparent;
    float: left;
}
.body000{
    width: 320px;
    height: 420px;
    background: transparent;
    color: rgb(7, 1, 2);
    top: 85%;
    right: 77%;
    position: absolute;
    transform: translate();
    box-sizing: border-box;
    padding: 70px 30px;

}
div#body02{
    width: 850px;
    height: 520px;
    background-color: transparent;
    float: left;
}
.body001{
    width: 100%;
} 

.body001 img{
    width: 100%;
}
div#body2 video{
    width: 200%;
    height: 100%;


}
div#body1{
    width: 416px;
    height: 520px;
    float: left;
}
div#body1 .panel{
    line-height: 25px;
    text-transform: uppercase;
    background-color: aliceblue;
    text-align: center;
    font-weight: bold;

}
div#body1 li{
    border: 1px solid black;
    line-height: 35px;


}

.seccion1{
    width: 410px;
    height: 174px;
    background-color: #dddddd;
}
.seccion2{
    width: 410px;
    height: 173px;
    background-color: #dddddd;
}
.seccion3{
    width: 410px;
    height: 173px;
    background-color: #dddddd;
}

div#body2{
    width: 417px;
    height: 520px;
    background-color:transparent;
    float: left;
}
div#body2 .avatar2{
    width: 417px;
    height: 520px;

}

div#body3{
    width: 417px;
    height: 520px;
    float: left;
    background-color: rgb(255, 255, 255);
}

div#body3 .avatar1{
    width: 417px;
    height: 520px;

}

.slidesjs-pagination {
    background: #28a83e;
     list-style: none;
     overflow: hidden;
 }
 .slidesjs-pagination li{
     float: left;
 }
 
 .slidesjs-pagination li a{
     display: block;
     padding: 10px 20px;
     color: #fff;
     text-decoration: none;
 }
 .slidesjs-pagination :hover{
     background: #000;
 }
 
 .body001 .active{
     background: #000;
 }
 
 .slidesjs-navigation{
     background: #000;
     color: #fff;
     text-decoration: none;
     display: inline-block;
     padding: 10px 20px;
     float: right;
    
 
 }
 .contenedor01{
    margin: 0;
    padding: 0;
     background: url(../img/formato2.png) no-repeat center top;
     background-size: cover;
     font-family: sans-serif;
     height: 100vh; 
 }

.contenedor01{
 width: 320px;
 height: 420px;
 background: transparent;
 color: rgb(1, 7, 3);
 top: 170%;
 left: 69%;
 position: absolute;
 transform: translate();
 box-sizing: border-box;
 padding: 70px 30px;

}
.contenedor01 .avatar{
width: 80%;
 position: absolute;
 top: -30%;
 left: calc(40% - 30%);

}

.contenedor01 h1{
 margin: 0;
 padding: 0 0 20px;
 text-align: center;
 font-size: 22px;

}
.contenedor01 label{
 margin: 0;
 padding: 0;
 font-weight: bold;
 display: block;
}

.contenedor01 input{
 width: 100%;
 margin-bottom: 20px;
}

.contenedor01 button{
    width: 100%;
    margin-bottom: 20px;
   }
.contenedor01 input[type="text"],
.contenedor01 input[type="password"]{
 border: green;
 border-bottom: 1px solid rgb(12, 95, 30);
 background: transparent;
 outline: green;
 height: 40px;
 color: rgb(18, 88, 30);
 font-size: 14px;
}

.contenedor01 button[onclick="registrar()"]{
 border: none;
 outline: none;
 height: 40px;
 background: #3fee59;
 color: rgb(0, 77, 17);
 font-size: 18px;
 border-radius: 20px;
}
.contenedor01 a{
 text-decoration: none;
 font-size: 12px;
 line-height: 20px;
 color: rgb(5, 4, 4);
 font-weight: bold;
}
.contenedor01 a:hover {
 color:rgb(81, 83, 3);
 font-weight: bold;
}
.datos{
    width: 1250px;
    height: 50px;
    margin: auto;
    overflow: hidden;
    line-height: 14px;
    text-align: center;
    font-family:Arial, Helvetica, Sans-serif;
    font-size:14px;
    background-color: rgb(81, 190, 86);
    margin-top: 0px;
	margin-bottom: 20px;


}